#navbarWrapper {
  width: 100%;
  transition: background-color 1s ease 0s;
  z-index: 100;

  @media (max-width: 768px) {
    background: #91857C;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  }

  .navbar {
    width: 100%;
    background: none;
  }

  .nav-item {
    padding: 0 .5rem;
    
    @media (max-width: 992px) {
      padding: 0 .25rem;
    }

    @media (max-width: 768px) {
      padding: 0;
    }

    .nav-link {
      font-weight: bold;
      @media (max-width: 768px) {
        font-weight: normal;
      }
    }
  }
}