#overviewWrapper {
  .masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('./overview.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (max-width: 768px) {
      background-image: url('./overview_md.jpg');
    }

    @media (max-width: 576px) {
      background-image: url("./overview_sm.jpg");
    }
  }
}