// Override default variables before the import

//colors

$thunder: #160b0f;
$mid-gray: #69686c;
$shuttle-gray: #556575;
$heathered-gray: #bbb194;
$woodsmoke: #131517;
$goblin: #408442;
$hot-toddy: #be740a;
$pomegranate: #f44336;
$default: #999999;
$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

$theme-colors: (
        "thunder":          $thunder,
        "mid-gray":         $mid-gray,
        "shuttle-gray":     $shuttle-gray,
        "heathered-gray":   $heathered-gray,
        "woodsmoke":        $woodsmoke,
        "default":          $default,
        "blue":             $blue,
        "indigo":           $indigo,
        "purple":           $purple,
        "pink":             $pink,
        "red":              $red,
        "orange":           $orange,
        "yellow":           $yellow,
        "green":            $green,
        "teal":             $teal,
        "cyan":             $cyan
);

$primary:       $thunder;
$secondary:     $default;
$success:       $goblin;
$info:          $woodsmoke;
$warning:       $hot-toddy;
$danger:        $pomegranate;

$enable-responsive-font-sizes: true;

//typography
$rfs-base-font-size: 1rem;


// Import Bootstrap and its default variables
@import '../node_modules/bootstrap/scss/bootstrap';